ko-load {
	ion-content {
		color: #666 !important;
	}

	ion-spinner * {
		stroke: #666 !important;
	}

	.loading-status {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
		flex-direction: column;
	}
	.loading-error {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
		flex-direction: column;
	}
}
