<ion-content>
	<ion-slides pager *ngIf="exhibit" (ionSlideDidChange)="slideChanged()" [ngClass]="exhibit.name" [style.background-color]="exhibit.color">
		<ion-slide *ngFor="let slide of exhibit.slides; let i = index" [style.background-color]="slide.color">
			<slide-container [slide]="slide" [idx]="i"></slide-container>
		</ion-slide>
	</ion-slides>

	<div class="nav">
		<a (click)="nextSlide()" *ngIf="!nextToMenu"><span>Next</span></a>
		<a (click)="goToMenu()" *ngIf="nextToMenu"><span>Menu</span></a>
	</div>
</ion-content>
