ko-exhibit {

	.modal-container {
		width: 60vmin;
    	height: 60vmin;
		min-width: 40vmin;
		min-height: 40vmin;
		text-align: center;

		h2 {
			color: white;
			text-align: center;
			font-size: 4vmax;
			font-weight: 700;
		}

		img {
			width: 80%;
			animation: swipe 3s infinite;
			transform: rotate(8deg);
		}
	}

	@keyframes swipe {
		0% {
			transform: rotate(8deg);
		}
		50% {
			transform: rotate(-8deg)
		}
		100% {
			transform: rotate(8deg);
		}
	}

	.swiper-slide {
		color: white;
		font-size: 3vmax;

		p {
			padding: 0 10vw;
			margin: 0;
		}

		.bold {
			font-weight: 700;
		}

		.big {
			font-size: 7vmax;
			font-weight: 900;
		}

	}

	ion-slides.Jet {
		.accent {
			color: #CB68FF;
		}
	}

	ion-slides.HayNeedle {
		.big {
			font-size: 7vmax;
		}
		.accent {
			color: #61EAF6;
		}
	}

	ion-slides.Modcloth {
		.accent {
			color: #E0BF90;
		}
		.fact img.smaller {
			width: 75%;
			height: auto;
		}
	}

	ion-slides.Moosejaw {
		.accent {
			color: #FFA900;
		}
		.fact p.wide {
			padding: 0 2vw;
		}
	}

	ion-slides.Shoes {
		.accent {
			color: #9BB7FF;
		}
	}

	ion-slides.Walmart {
		.accent {
			color: #FFC31C;
		}
	}

	ion-slides.SamsClub {
		.accent {
			color: #46A4F3;
		}
		.swiper-slide product-slide {
			.desc {
				padding: 0 10vw 0vmax;
			}
		}
	}

	.swiper-pagination-bullet {
		width: 15px;
    	height: 15px;
		background: #fff;
    	opacity: 0.4;
	}

	.swiper-pagination-bullet-active {
		background: white;
		opacity: 1;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: 30px;
	}

	.nav {
		position: absolute;
		right: -109px;
		top: 60%;
		z-index: 99;
	}

	.nav .circle {
		position: relative;
		background-color: white;
	  	box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.27);
	    width: 180px;
	    height: 180px;
	  	border-radius: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		overflow: hidden;

		a {
			height: 50%;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-left: 0;
			border-bottom: 1px solid rgba(0,0,0,0.5);
			transition: all 300ms;
			transition-delay: 100ms;

			&:active {
				background: rgba(0,0,0,0.2);
				transition: none;
			}
		}

		img {
			width: 22%;
		}

		span {
			color: black;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.next img {
			padding-top: 10px;
		}

		.prev span {
			margin-top: -10px;
		}
	}
}
