<ion-content>
	<div accentColorStyle [accentColor]="exhibit.AccentColor" class="some-style-tag" *ngIf="exhibit"></div>
	<ion-slides pager *ngIf="exhibit" (ionSlideDidChange)="slideChanged()" [ngClass]="exhibit.CompanyName" [style.background-color]="exhibit.BackgroundColor">
		<ion-slide *ngFor="let slide of exhibit.Slides; let i = index" [style.background-color]="exhibit.BackgroundColor">
			 <slide-container [slide]="slide" [idx]="i" [accentColor]="exhibit.AccentColor" [companyName]="exhibit.CompanyName" [textNumber]="textNumber"></slide-container>
		</ion-slide>
	</ion-slides>

	<div @fadeInOut class="nav" *ngIf="!nextToMenu">
		<div class="circle">
			<a (click)="nextSlide()" class="next" >
				<img src="assets/img/icon_arrow-right.svg">
				<span>Next</span>
			</a>
			<a (click)="prevSlide()" class="prev">
				<span>Back</span>
				<img src="assets/img/icon_arrow-left.svg">
			</a>
		</div>
	</div>

	<div @fadeInOut class="modal" *ngIf="showSwipeModal">
		<div class="modal-container">
			<img src="assets/img/swipe-instruction.svg">
			<h2>Swipe to explore</h2>
		</div>
	</div>

</ion-content>
