<ion-content [class.accessibility]="accessibilityMode">

	<div class="companies">
		<h1>Choose a company</h1>

		<div class="containers">
			<div class="container" [style.background-color]="exhibit.color" *ngFor="let exhibit of exhibits | async" (click)="goToExhibit(exhibit)">
				<img [src]="exhibit.logo">
			</div>
		</div>
	</div>


	<div class="accessibility">
		<div class="circle" (click)="toggleAccessibility()">
			<img src="assets/img/icon_accessibility.svg">
		</div>
	</div>

	<div class="setup one" (click)="setup.one = true"></div>
	<div *ngIf="setup.one" class="setup two" (click)="setup.two = true"></div>
	<div *ngIf="setup.two" class="setup three" (click)="goToSetup()"></div>

</ion-content>
