html, body, ion-app, ion-content {
	font-family: "Bogle", sans-serif;
	background: #212121 !important;
}


.no-scroll {
	overflow-y: hidden;

	.scroll-content {
		overflow-y: hidden;
	}
}

.hidden {
	display: none !important;
}
