.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;

	.modal-container {
		min-width: 50vmin;
		min-height: 50vmin;
		max-width: 80vmin;
		max-height: 80vmin;
	}
}
