.swiper-slide fact-top-slide {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

	.fact {
		font-weight: 700;
		padding-bottom: 5vmax;
	}

	p {
		font-size: 5.8vw;
	}

	img {
		width: 40vmax;
	}

}
