.swiper-slide fact-bottom-slide {
	position: absolute;
    top: 0;
    left: 0;

	img {
		width: 100%;
		height: 50vh;
	}

	.fact {
		font-size: 3vmax;
		font-weight: 700;
		padding: 5vmax 14vw;
	}

}
