.swiper-slide text-slide {
	.logo {
		width: 25vmax;
	}

	.logo, .desc {
		margin: 3vmax 0;
	}

	.desc {
		font-size: 2.5vmax;

		p {
			padding: 0 8vw;
		}
	}

	.product {
		margin: 5vmax 0;
		width: 20vmax;
	}
}
